 setting font fixes combobox rendering issues in IE. See
 * http://extjs.com/forum/showthread.php?t=72505 */
body {
    font-family:helvetica,tahoma,verdana,sans-serif;
}

.x-fieldset legend {
    font: 11px tahoma, arial, helvetica, sans-serif;
}

.x-tree-node-anchor {
    font-style: normal;
}

.x-combo-list .x-combo-selected {
    border: 0px !important;
}

.x-panel-tc > .x-panel-header {
    padding: 7px 3px 5px 2px;
}

.x-header-legends {
    background: white !important;
    border-bottom: 0px !important;
}

.olControlLapigCoordinates {
    cursor : crosshair;
}

.olControlLapigWmsGetFeatureInfo {
    cursor: help;
}

.olControlLapigLoading {
    cursor: progress;
}

.olControlAttribution {
    text-align: right;
    font-size: 9px;
    bottom: 2px;
}

div.olControlMousePosition {
    right: 3px;
    top: 3px;
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: 13px;
    background-color: white;
    bottom: 97%;
}

.form-logo-field>div {
    background-color: white;
    border: 1px solid #C1C1C1;
    text-align: center;
}

.form-preview-field>div {
    background-color: white;
    border: 1px solid #C1C1C1;
}

/* gxp_downloadLapiglayer */
.x-btn .gxp-icon-downloadlayer, .x-menu-item .gxp-icon-downloadlayer, .x-tree-node .gxp-icon-downloadlayer {
    background-image: url(img/save-layer.png);
}

.x-btn .gxp-icon-asyncdownloadlayer, .x-menu-item .gxp-icon-asyncdownloadlayer, .x-tree-node .gxp-icon-asyncdownloadlayer {
    background-image: url(img/save.png);
}

.x-btn .gxp-icon-downloadmap, .x-menu-item .gxp-icon-downloadmap, .x-tree-node .gxp-icon-downloadmap {
    background-image: url(img/save-map.png);
}

.x-btn .gxp-icon-downloadmany, .x-menu-item .gxp-icon-downloadmany, .x-tree-node .gxp-icon-downloadmany {
    background-image: url(img/save-multi.png);
}


/* gxp_metadataLapiglayer */
.x-btn .gxp-icon-metadatalayer, .x-menu-item .gxp-icon-metadatalayer, .x-tree-node .gxp-icon-metadatalayer {
    background-image: url(img/metadata.png);
}

.x-btn .gxp-icon-lapigcoordinates, .x-menu-item .gxp-icon-icon-lapigcoordinates, .x-tree-node .gxp-icon-lapigcoordinates {
    background-image: url(img/lapig-coordenadas.png) !important;
}

.x-btn .gxp-icon-lapigprint, .x-menu-item .gxp-icon-icon-lapigprint, .x-tree-node .gxp-icon-lapigprint {
    background-image: url(img/ico_print.png) !important;
}

.gxp-icon-lapiglogin {
    background-image: url(img/login.png) !important;   
}

.gxp-icon-lapiglogout {
    background-image: url(img/logout.png) !important;   
}

.lapig-icon-add {
    background-image: url(img/add.png) !important;
}

.lapig-icon-add-2 {
    background-image: url(img/add-2.png) !important;
}

.lapig-icon-seta {
    background-image: url(img/seta.png) !important;
}

.lapig-icon-csv {
    background-image: url(img/file-xls.png) !important;
}

.lapig-icon-refresh {
    background-image: url(img/refresh.png) !important;
}

.lapig-icon-metadata {
    background-image: url(img/metadata.png) !important;
}

.lapig-icon-delete {
    background-image: url(img/delete.png) !important;
}

.lapig-icon-edit {
    background-image: url(img/edit.gif) !important;
}

.gxp-icon-lapiglayerlink {
    background-image: url(img/layer-link.png) !important;
}

.gxp-icon-lapigpublicacoes {
    background-image: url(img/publicacoes.png) !important;
    height:16px !important;
    width:16px !important;
}

.lapig-slider {
    width: 230px;
    margin-left: 35px;
}

.x-collapsed-title {
    color: #15428b;
    font: 11px/15px tahoma,arial,verdana,sans-serif;
    padding: 2px 5px;
}

.x-form-cb-label {
    font-size: 12px;
}

#description_map {
    overflow: hidden;
    position: absolute;
    height: 112px !important;
    width: 198px !important;
    top: 458px;
    left: 594px;
}

#scale_map_internalMap3 {
    overflow: hidden;
    position: absolute;
    left: 100px !important;
    top: 25px !important;
    width: 98px !important;
    height: 26px !important;
}

#rosa-dos-ventos_map_internalMap3 {
    left: 20px;
    top: 15px;
    width: 50px;
}

#projection_map_internalMap3 {
    top: 70px;
    left: 5px;
}

#title_map {
    overflow: hidden;
    height: 15px !important;
    width: 560px !important;
}

/* gxp_metadatalayer
.x-btn .gxp-icon-imagestats, .x-menu-item .gxp-icon-imagestats, .x-tree-node .gxp-icon-imagestats {
    background-image: url(img/image-stats.jpg);
}
.x-btn .gxp-icon-lapig-add-point, .x-menu-item .gxp-icon-lapig-add-point, .x-tree-node .gxp-icon-lapig-add-point {
    background-image: url(img/shape_square_add.png) !important;
}

.x-btn .gxp-icon-lapigcoordinates, .x-menu-item .gxp-icon-icon-lapigcoordinates, .x-tree-node .gxp-icon-lapigcoordinates {
    background-image: url(img/shape_square_add.png) !important;
}

.x-btn .gxp-icon-lapig-delete-point, .x-menu-item .gxp-icon-lapig-delete-point, .x-tree-node .gxp-icon-lapig-delete-point {
    background-image: url(img/shape_square_delete.png) !important;
} 